.edit-form {
	font-weight: 500;
	padding: rem(30px) 3rem;
	h2 {
		font-size: 1.5rem;
		line-height: lh(33px);
		font-weight: 400;
		margin-bottom: 0.25rem;
	}
	p {
		font-size: rem(13px);
		color: #828282;
		line-height: 1.125rem;
		margin-bottom: rem(26px);
	}
	.img-group-input {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		.img-container {
			position: relative;

			img {
				width: rem(72px);
				object-fit: cover;
				border-radius: 0.5rem;
			}
			.overlay {
				inset: 0;
				border-radius: 0.5rem;
				width: 100%;
				height: 94%;
				background: rgba(0, 0, 0, 0.2);
				position: absolute;
				&::after {
					font-family: 'fa-solid';
					content: '\f030';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #fff;
				}
			}
			input {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 10;
				opacity: 0;
				cursor: pointer;
			}
		}

		span {
			font-size: rem(13px);
			color: #828282;
			line-height: 1.125rem;
			cursor: pointer;
			margin-inline-start: rem(28px);
		}
	}
	.input-group {
		label {
			color: #4f4f4f;
			font-size: rem(13px);
			line-height: 1.125rem;
			display: block;
			margin-bottom: 0.25rem;
		}
		input,
		textarea {
			width: 100%;
			padding: rem(17px) rem(18px);
			border: 1px solid #828282;
			border-radius: 12px;
			margin-bottom: rem(46px);
			&:focus {
				border-color: #2f80ed;
				outline: 1px solid #2f80ed;
			}
			&::placeholder {
				color: #bdbdbd;
				font-size: rem(13px);
				line-height: 1.125rem;
			}
			&.bio {
				resize: none;
				height: rem(92px);
				font-size: rem(13px);
				font-family: 'NotoSans-Regular';
			}
		}
		&.img-url {
			margin: 0 1rem;
			width: 80%;
			.input-container {
				display: flex;
			}
			input {
				margin: 0;
				margin-inline-end: 1rem;
			}
			.action-btn {
				margin-bottom: 0;
			}
		}
	}
	.action-btn {
		padding: 0.5rem 2rem;
		font-size: 1rem;
		line-height: lh(22px);
		margin-bottom: 2.5rem;
	}
}
@media screen and (min-width: 860px) {
	.edit-form {
		border: 1px solid #e0e0e0;
		border-radius: 0.75rem;
	}
}
