.profile {
	max-width: 860px;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-bottom: 2.5rem;
	& .first-label {
		margin: 0 3rem;
		div {
			text-align: left;
			h3 {
				font-size: 1.5rem;
				line-height: lh(33px);
			}
			p {
				font-size: rem(13px);
				line-height: lh(18px);
				color: #828282;
			}
		}
	}
	& .btn {
		position: relative;
		background-color: transparent;
		outline: none;
		border: 1px solid #828282;
		border-radius: 0.75rem;
		color: #828282;
		padding: 0.5rem 2rem;
		line-height: lh(22px);
		&:hover {
			color: #333;
		}
		&::after {
			content: '';
			border-radius: 0.75rem;
			position: absolute;
			background-color: #e0e0e0;
			width: 0;
			height: 0;
			top: 0;
			left: 0;
			transition: cubic-bezier(0.2, 1, 0.3, 1) 0.7s all;
		}
		&:hover::after {
			width: 100%;
			z-index: -5;
			height: 100%;
		}
	}
}
@media screen and (min-width: 860px) {
	.profile {
		border: 1px solid #e0e0e0;
		border-radius: 0.75rem;
	}
}
