* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'NotoSans-Regular';
	&:has(.login-form) {
		background-color: #fff;
	}
	background-color: #fafafb;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'NOtoSans-Bold';
}

button {
	cursor: pointer;
}

.action-btn {
	border-radius: 0.5rem;
	background-color: #2f80ed;
	color: #fff;
	padding: 0.75rem 0;
	border: none;
}
