.login-form {
	min-height: 100vh;
	align-items: center;
	display: flex;
	max-width: 475px;
	padding: 1rem;
	justify-content: center;
	margin: auto;
}
.form-wrapper {
	.logo {
		img {
			width: 150px;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
	}
	.form-header {
		text-align: center;
		h2 {
			font-size: 1.35rem;
		}
		margin-bottom: 1rem;
	}
	form.form {
		padding-inline: 1rem;
	}
	.input-group {
		margin-bottom: 0.875rem;
		position: relative;
		.signup &::before {
			content: '*';
			position: absolute;
			left: -1rem;
			color: red;
			top: 1rem;
		}
		& input {
			width: 100%;
			padding: 0.85rem 2.5rem;
			outline: none;
			font-size: 1rem;
			border: 1px solid #bdbdbd;
			border-radius: 0.5rem;
			&:focus {
				border-color: #2f80ed;
				outline: 1px solid #2f80ed;
			}
			&::placeholder {
				color: #828282;
			}
		}
		& span {
			position: absolute;
			top: 1rem;
			left: 1rem;
			font-size: 1.1rem;
			color: #828282;
		}
	}
	.action-btn {
		margin-bottom: 2rem;
		width: 100%;
	}

	.text-center {
		font-size: 1rem;
		margin-bottom: rem(22px);
		text-align: center;
		display: block;
	}
	.social {
		&-icons {
			justify-content: center;
			align-items: center;
			margin-bottom: rem(27px);
		}

		&-btn {
			margin-inline-end: rem(21px);
			color: #828282;
			border-radius: 50%;
			border: 1px solid #828282;
			font-size: 1.15rem;
			padding: rem(11px) rem(11px);
			display: flex;
			align-items: center;
			justify-content: center;
			&:last-child {
				margin-inline-end: 0;
			}
		}
	}
}

@media screen and (min-width: 550px) {
	.form-wrapper {
		border-radius: 1.5rem;
		outline: 1px solid #bdbdbd;
		padding: 2rem;
		.form-header {
			h2 {
				font-size: 1.75rem;
			}
			margin-bottom: 2rem;
		}
		form.form {
			padding-inline: 0;
		}
	}
}
